*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
}

nav{
    display: flex;
    color: black;
    justify-content: space-between;
    height: 60px;
    align-items: center;
}
h2{
    font-weight: 500;
}
a{
    text-decoration: none;
    color: black;
    padding: 10px;
}
.top-menu-nav{
    display: flex;
    /* text-decoration: none; */
}
.top-menu-nav li{
    list-style: none;
    margin: 5px;
}
button>a{
    color: white;
}

/*..............................
*/

.top-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    /* border: 2px solid black; */
    justify-content: space-between;
}
.intro-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.intro-text h1{
    font-weight: 700;
    padding-bottom: 10px;
}
.intro-text p{
    font-weight: 400;
}
button{
    padding: 5px;
    background-color: rgb(43, 87, 168);
    border-radius: 10px;
}
.intro-img img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

/* ------------------------------*/

.ecommerce{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-top: 4px solid rgba(204, 184, 184, 0.506);
    border-bottom: 4px solid rgba(204, 184, 184, 0.506);
}
.ecommerce img{
    
}



/*-------------------
    footer
-------------------*/
footer{
    color: white;
    background-color: rgb(62, 97, 163);
    padding: 10px;
    margin-top: 10px;
    border-top: 0;
}
footer>h3{
    font-weight: 500;
    text-align: center;
}
footer p{
    text-align: center;
}