*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 20px 20px 0 30px;
    background-color: rgb(242, 248, 248);
}
h1{
    font-size: clamp(2rem, 1rem + 3vw, 6rem);
}
h2{
    text-align: center;
}

h4{
    font-weight: 400;
}
.menu-container{
    display: flex;
    min-height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.top-menu-nav li{
    list-style: none;
    display: inline-block;
    margin-left: 5px;
    padding: 5px;
}
.top-menu-nav a{
    text-decoration: none;
}

button a{
    color: white;
    text-decoration: none;
}
button{
    background-color: steelblue;
    margin: 10px 5px;
    border-radius: 15px;
    padding: 5px;
}

.intro-container{
    /* border: 2px dashed cyan; */
    display: flex;
    min-height: 300px;
    justify-content: center;
    align-items: stretch;
    margin-bottom: 20px;
}
.text-style-part{
    /* border: 2px solid mediumaquamarine; */
    min-height: 300px;
    padding-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}
.img-box img{
    /* border:2px solid mediumaquamarine; */
    min-height: 220px;
    min-width: 250px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border-radius: 15px;
}
.img-box{
    flex-grow: 2;
}

/* -------------------------*\
    Ecommerce Container
/* --------------------------*/
.ecommerce{
    display: flex;
    border: 2px solid grey;
    background-color: honeydew;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px;
    margin-bottom: 50px;
}
.ecommerce img{
    padding: 5px;
    /* min-height: 25px; */
}
/*--------------------------*\
-------Popular Container------
/*---------------------------*/
.popular-container{
    /* border: 2px solid cyan; */
    padding: 30px;
    margin-bottom: 20px;
}

.popular-grid{
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px; */
    grid-gap: auto;
    border-radius: 15px;
    border-bottom: 20px;
    justify-content: center;
    align-items: center;

}
.popular-cell{
    display: grid;
    grid-template-columns: 1fr;
    background-color: white;
    /* text-align: center; */
    /* padding: 20px; */
    min-width: 251px;
    min-height: 350px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* font-size: 30px; */
    /*
    background-color: rgb(160, 231, 231);
    border: 2px solid cyan;*/
    
}
.popular-cell img{
    min-height: 200px;
    min-width: 250px;
}
.popular-cell p{
    font-size: 12px;
}
.popular-cell small{
    color: orange;
}
.popular-cell:hover img{
    transform: rotate(15deg);
    transition: transform .75s;
}
.see-more{
    text-align: right;
    margin-right: 100px;
}
.see-more a{
    text-decoration: none;
    font-size: 12px;
    color: black;
}
/*------ Vintage Camera Section -------*/

.vintage-cameras{
    border: 2px dashed cyan;
    display: flex;
    /* min-height: 250px;
    min-width: 180px; */
    justify-content: center;
    align-items: center;
    padding: 20px;
}
#text-style{
    order: 2;
    margin-left: 50px;
    align-items: center;
    align-content: center;
}
#img-box-2{
    order: 1;
    flex-grow: 2;
}
.img-box img{
    min-height: 200px;
    min-width: 200px;
}
/*-----Footer Section-------*/

footer{
    color: white;
    width: auto;
    background-color: rgb(62, 97, 163);
    padding: 10px 0;
    margin-top: 10px;
    border-top: 0;
}
.text-bolder{
    font-size: clamp(1.5rem, 2vw, 3rem);
}
footer p{
    text-align: center;
    font-size: clamp(1rem, 1.25vw, 1.25rem);
}

/*====================================*/
            Media Query
/*====================================*\
/* ````````Mobile```````````*/
